*~
*bak
*.swp
main.*
!main.tex
caseForSupport.*
!caseForSupport.tex
costing/tasks.txt
workPlan.*
!workPlan.tex
narrativeCVs.*
!narrativeCVs.tex
coverLetter.*
!coverLetter.tex
dataManagementPlan_long.*
!dataManagementPlan_long.tex
dataManagementPlan_longJR.*
!dataManagementPlan_longJR.tex
dataManagementPlan_short.*
!dataManagementPlan_short.tex
justificationOfResources.*
!justificationOfResources.tex
Software\ management\ plan.pdf.xoj
application/figures/bonsai_noCaption.pdf
application/figures/roadmap-bbsrc.pdf
application/figures/roadmap-bbsrc.svg
application/wrapper.*
reviews/*
!reviews/responseReviewer_155296694.tex
